<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Wygrana</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h1 class="text-center mt-5">Gratulacje! Ukończyłeś Sudoku!</h1>
  <div class="text-center mt-4">
    <form action="/generate" method="post">
      <button type="submit" class="btn btn-primary">Nowa gra</button>
    </form>
    <form action="/" method="get" class="mt-2">
      <button type="submit" class="btn btn-secondary">Strona główna</button>
    </form>
  </div>
</div>
</body>
</html>
